include nav
main.main
	div.breadcrumbs
			-
				var breadcrowsObject = [
				'Главная ',
				'Каталог'
				]

			ul.breadcrumbs__list
				each value in breadcrowsObject
					if value == 'Каталог'
						li.breadcrumbs__list-links-items
							a.breadcrumbs__list-links(href="#" class="breadcrumbs__list-links-last")= value
					else
						li.breadcrumbs__list-links-items
							a.breadcrumbs__list-links(href="#")= value

	h1.namePages
		|Мобильные телефоны

	include sidebars

	section.section
		div.section__sort
			div.section__sort-byPrice
				label(for="sortBy").catalog-sorting-form__label
					| Сортировать по
				select(name="sortBy").section__sort-byPrice-text
					- var SortItemList = ['по цене', 'по популярности', 'по производителю']
					each SortItem in SortItemList
						option.section__sort-byPrice-text-option(value="")= SortItem

			div.section__sort-byCatalogs
				span.section__sort-byCatalogs-text
					|Вид Каталога
				a.section__sort-byCatalogs-linkView(class="section__sort-byCatalogs-linkView1")(href="#")
					
				a.section__sort-byCatalogs-linkView(class="section__sort-byCatalogs-linkView2")(href="#")
					
				a.section__sort-byCatalogs-linkView(class="section__sort-byCatalogs-linkView3")(href="#")
					

		include sections_contents

		div.section__breadcrows

	include information



