main.main
	h1.namePages
		|Мобильные Телефоны

	include sidebars

	section.section
		div.section__sort
			div.section__sort-byPrice
				label(for="sortBy").catalog-sorting-form__label
					| Сортировать по
				select(name="sortBy").section__sort-byPrice-text
					- var SortItemList = ['по цене', 'по популярности', 'по производителю']
					each SortItem in SortItemList
						option.section__sort-byPrice-text-option(value="")= SortItem

			div.section__sort-byCatalogs
				span.section__sort-byCatalogs-text
					|Вид Каталога
				a.section__sort-byCatalogs-linkView(class="section__sort-byCatalogs-linkView1")(href="#")
					
				a.section__sort-byCatalogs-linkView(class="section__sort-byCatalogs-linkView2")(href="#")
					
				a.section__sort-byCatalogs-linkView(class="section__sort-byCatalogs-linkView3")(href="#")
					

		include sections_contents

		div.section__breadcrows

div.section__information
	div.section__information-left
		- for (i=0; i<3; i++)
			p.section__information-left-text
				|Шаблоны снижают сложность, предоставляя готовые абстракции Если вы скажете: «В этом фрагменте для создания экземпляров производных классов применяется шаблон “Фабричный метод”», — другие программисты поймут, что ваш код включает богатый набор взаимодействий и протоколов программирования, специфических для названного шаблона. 
	div.section__information-right
		- for (i=0; i<3; i++)
			p.section__information-right-text
				|Шаблоны снижают сложность, предоставляя готовые абстракции Если вы скажете: «В этом фрагменте для создания экземпляров производных классов применяется шаблон “Фабричный метод”», — другие программисты поймут, что ваш код включает богатый набор взаимодействий и протоколов программирования, специфических для названного шаблона. 


