nav.nav
	.nav__container
			-
				var objectNav = {
					'Планшеты' : '#tablets',
					'Мобильные телефоны' : '#mobile',
					'Mp3 плееры' : '#pleers',
					'Персональные компьютеры' : '#pc',
					'Ноутбуки' : '#netbooks',
					'Аксессуары' : '#accessories',
					'Бытовая техника' : '#Appliances'
					}

			ul.nav__list
				each value, key in objectNav

					if key == 'Мобильные телефоны'
						li.nav__list-links-item
							a.nav__list-links.active(href= value)= key
					else
						li.nav__list-links-item
							a.nav__list-links(href= value)= key
