/* sass --watch app/scss/main.scss:app/css/style.css */
/*   @import "compass";   */
.main:before, .container__up:before, .main:after, .container__up:after {
  content: "";
  display: table;
}
.main:after, .container__up:after {
  clear: both;
}

.main:before, .container__up:before, .main:after, .container__up:after {
  content: "";
  display: table;
}
.main:after, .container__up:after {
  clear: both;
}

/* ------------- sections---------- */
/* ---------adjastment---------- */
body, html {
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.main {
  width: 1100px;
  margin: 0px auto;
}

.aside {
  display: table-cell;
  width: 340px;
}

.section {
  display: table-cell;
  width: 760px;
  padding-left: 25px;
  vertical-align: top;
}

.empty {
  height: 30px;
  padding-bottom: 220px;
}

.footer {
  min-width: 1100px;
  margin-top: -220px;
  height: 220px;
  position: relative;
}

/* ---------end adjastment---------- */
/* ----------css header ------------- */
.header {
  width: 100%;
  min-width: 1100px;
  /* background-color:#fff;
  position:relative; */
}

.container__up {
  background: #fff;
  width: 100%;
  box-shadow: 0px 2px 0px 0px #EBEDEF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.container__up-links {
  float: left;
  margin-bottom: 0;
  padding: 22px 0 0px 0;
}

.container__up-links-list-social-item {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding-left: 5px;
}
.container__up-links-list-social-item:first-child {
  padding: 0;
}

.social-item-vk {
  background-image: url(../img/sprite_socials.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.social-item-vk:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-item-fb {
  background-image: url(../img/sprite_socials.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.social-item-fb:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-item-tw {
  background-image: url(../img/sprite_socials.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.social-item-tw:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container__up-links-list-social {
  display: block;
  text-indent: -9999px;
}

.container__up-contacts {
  float: right;
  padding: 45px 241px 0 0;
}

.container__up-contacts-telephone {
  margin-left: 108px;
  font-size: 18px;
  position: relative;
}
.container__up-contacts-telephone:after {
  background-image: url(../img/sprite.png);
  background-position: -52px -16px;
  width: 12px;
  height: 16px;
  content: "";
  position: absolute;
  top: 1px;
  left: -18px;
}

.container__up-contacts-address {
  font-size: 14px;
  position: relative;
}
.container__up-contacts-address:after {
  background-image: url(../img/sprite.png);
  background-position: -52px 0px;
  width: 12px;
  height: 16px;
  content: "";
  position: absolute;
  top: 1px;
  left: -18px;
}

.container__down {
  width: 100%;
  margin-bottom: 27px;
  padding: 30px 0 0px 0px;
}

.container__down-middle {
  margin: 0;
  width: 1100px;
}

.logo {
  display: inline-block;
  overflow: hidden;
  width: 237px;
  height: 35px;
}

.logo__link {
  text-decoration: none;
}

.logo__link-text {
  display: none;
}

.container__down-middle-position {
  display: inline-block;
  float: right;
  width: 805px;
}

.container__down-container {
  display: inline-block;
  float: right;
  width: 805px;
}

.search {
  float: left;
  /* position: absolute;
  left: 280px;
  margin-left: 95px;
  padding-top: 32px; */
}

.search__form-text {
  width: 268px;
  height: 28px;
  padding-left: 18px;
  font-size: 14px;
}

.search__form-button {
  width: 80px;
  height: 34px;
  margin-left: -5px;
  color: #fff;
  background-color: #ff6600;
  border: 1px solid #ff6600;
}

.siteMap__list {
  float: right;
  margin: 0;
  padding-top: 8px;
  /* position: absolute; 
  width:430px;
  display: block;
  left:702px;
  margin-left: 50px;
  padding-top: 23px;
  padding-right:165px-60; */
}

.siteMap__list-links-item {
  display: inline-block;
  display: inline-block;
  font-size: 18px;
  margin-left: 25px;
}
.siteMap__list-links-item:first-child {
  margin-left: 0px;
}

.siteMap__list-links {
  color: #000000;
}
.siteMap__list-links:hover {
  color: #ff6600;
}

/* ----------end  css header ------------- */
/* ----------css nav ------------- */
.nav {
  width: 100%;
  background: #fff;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 30px;
}

.nav__list {
  margin-left: 54px;
  list-style: none;
}

.nav__list-links-item {
  display: inline-block;
  margin: 0 0 0 -5px;
}
.nav__list-links-item:first-child {
  margin-left: 0px;
}

.nav__list-links {
  font-size: 16px;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  padding: 16px 17px 16px 18px;
}
.nav__list-links:hover {
  background-color: #e4e2e2;
  padding: 16px 17px 16px 18px;
}

.active {
  background-color: #ff6600;
  color: #ffffff;
}
.active:hover {
  background-color: #ff6600;
  padding: 16px 17px 16px 18px;
}

.breadcrumbs {
  padding: 0 0px 0 40px;
  margin-bottom: 22px;
}

.breadcrumbs__list-links-items {
  display: inline-block;
}
.breadcrumbs__list-links-items:first-child {
  margin-left: 0px;
}
.breadcrumbs__list-links-items:last-child:before {
  content: ' > ';
}

.breadcrumbs__list-links {
  text-decoration: none;
}
.breadcrumbs__list-links:hover {
  text-decoration: underline;
}

.breadcrumbs__list-links-last {
  color: #ff6600;
  text-decoration: underline;
}

/* ----------end  css nav ------------- */
.namePages {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0;
}

.section__sort {
  position: relative;
  width: 740px;
  background: #E4EBEE;
  border: 1px solid #DEE1E4;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 20px;
}

.section__sort-byPrice {
  float: left;
  padding: 14px 0 0 18px;
}

.section__sort-byPrice-text {
  width: 141px;
  height: 23px;
  line-height: 25px;
  color: #7F7F7F;
  padding-left: 10px;
  background: #fff;
  border: 1px solid #DEE1E4;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
}

.section__sort-byCatalogs {
  float: right;
  padding: 19px 16px 0 0;
  font-size: 14px;
}

.section__sort-byCatalogs-text {
  vertical-align: top;
}

.section__sort-byCatalogs-linkView {
  margin-left: 34px;
  display: inline-block;
  text-indent: -9999;
}

.section__sort-byCatalogs-linkView1 {
  background-image: url(../img/sprite.png);
  background-position: -35px 0px;
  width: 17px;
  height: 17px;
}
.section__sort-byCatalogs-linkView1:hover {
  width: 17px;
  height: 17px;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
}

.section__sort-byCatalogs-linkView2 {
  background-image: url(../img/sprite.png);
  background-position: -17px -18px;
  width: 17px;
  height: 17px;
}
.section__sort-byCatalogs-linkView2:hover {
  width: 17px;
  height: 17px;
  background-image: url(../img/sprite.png);
  background-position: -18px 0px;
}

.section__sort-byCatalogs-linkView3 {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 17px;
  height: 17px;
}
.section__sort-byCatalogs-linkView3:hover {
  width: 17px;
  height: 17px;
  background-image: url(../img/sprite.png);
  background-position: -35px 35px;
}

.products {
  width: 760px;
  margin-bottom: 50px;
}

.unstyled-list {
  list-style-type: none;
  padding-left: 0px;
}

.product {
  width: 232px;
  margin: 0 15px 15px 0;
  height: 513px;
  vertical-align: top;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #DEE1E4;
  background: #FBFBFB;
}
.product:hover {
  z-index: 2;
  box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  position: relative;
}

.product__slideshow {
  width: 135px;
  margin: auto;
  margin-bottom: 6px;
}

.product__img-box {
  border: 1px solid #DEE1E4;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
}

.product__img {
  width: 100%;
  height: auto;
}

.product__img-box_big {
  width: 135px;
  height: 135px;
  margin: 20px 0 15px 0;
}

.product__img-line {
  width: 155px;
}

.product__img-box_mini {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 14px;
}

.product__code-label {
  /* 	font-family: $fontBold; */
  font-size: 12px;
  color: #7F7F7F;
}

.product__title {
  /* 	font-family: $fontSemibold; */
}

.products_block .product__attr:nth-child(2n+1) {
  background: #E0E0E0;
}

.products_block .product__attr {
  line-height: 20px;
  padding: 0 2px 0 2px;
}

.product__value {
  float: right;
}

.product__rating {
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 30px;
}

.product__star {
  display: inline-block;
  margin-left: 1px;
  background-image: url(../img/sprite.png);
  background-position: -16px -36px;
  width: 15px;
  height: 15px;
}

.product__star_red {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 16px;
  height: 15px;
}

.rating {
  font-style: normal;
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  line-height: 15px;
  /* font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
  width: 30px;
  height: 15px;
  border-radius: 30px;
  background-color: #E0E0E0;
  vertical-align: middle;
  /* 	font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
}

.product__price {
  /* 	font-family: $fontSemibold; */
  font-size: 18px;
  text-align: center;
  padding-bottom: 9px;
}

.product__price-label {
  /* font-family: Rouble */
}

.product__availability {
  /* font-family: $fontBold; */
  font-size: 12px;
  color: #7F7F7F;
  float: left;
  line-height: 3;
}

.product__availability:before {
  content: ' ';
  display: inline-block;
  margin: 0 10px 0 8px;
  background-color: green;
  border-radius: 50%;
  background-position: -52px -32px;
  width: 8px;
  height: 8px;
}

.product__button {
  font-size: 14px;
  padding: 7px 16px 6px 12px;
  float: right;
}

.button {
  border: 1px solid #FF6E35;
  border-radius: 5px;
  background: #FF6E35;
  color: #fff;
  font-size: 16px;
}

.products_block
.product {
  width: 232px;
  margin: 0 15px 15px 0;
  height: 513px;
  vertical-align: top;
  border-radius: 10px;
}

.product__code-label, .product__code, .product__description-text, .product__title-type {
  display: none;
}

.product__title {
  text-align: center;
  width: 200px;
  margin: auto;
  height: 42px;
  overflow: hidden;
}

.product__box {
  width: 210px;
  margin: auto;
}

.product__description {
  height: 140px;
  overflow: hidden;
  margin-bottom: 9px;
}

.aside__filterPrice {
  border: 1px solid #DEE1E4;
  border-radius: 10px;
  background: #FBFBFB;
  margin-bottom: 38px;
  overflow: hidden;
}

.aside__filterPhone-list, .aside__conteinerFilters {
  list-style: none;
  padding: 0px;
  margin: 0;
  border: 1ps solid #dee1e4;
  border-radius: 5px;
}

.aside__filterPhone-list-items:first-child {
  border-bottom: 1px solid #DEE1E4;
}

.aside__filterPhone-list-items-links {
  text-decoration: none;
  display: block;
  padding: 13px 20px 16px 30px;
  font-size: 14px;
  color: #878787;
  border-radius: 5px 5px 0 0;
}

.aside__filterPhone-list-items-links-active {
  background-color: #d9e5ea;
  border-radius: 0 0 5px 5px;
}

.aside__conteinerFilters {
  background-color: #fbfbfb;
  overflow: hidden;
}

/* block with having */
.aside__conteinerFilters-having, .aside__conteinerFilters-brends, .aside__conteinerFilters-price, .aside__conteinerFilters-color, .aside__conteinerFilters-system {
  padding: 15px 0 0 28px;
  border-bottom: 1px solid #dee1e4;
}

.aside__conteinerFilters-having-name, .aside__conteinerFilters-brends-name, .aside__conteinerFilters-price-name, .aside__conteinerFilters-system-name {
  font-weight: bold;
  margin-bottom: 15px;
}

.aside__conteinerFilters-having-input, .aside__conteinerFilters-brends-input, .aside__conteinerFilters-color-container, .aside__conteinerFilters-system-input {
  margin-left: 5px;
  margin-right: 7px;
  margin-bottom: 24px;
}

/* end block with having */
/* block with brends and price */
.aside__conteinerFilters-brends {
  border-bottom: none;
}

.aside__conteinerFilters-brends-name {
  margin-bottom: -6px;
}

.aside__conteinerFilters-brends-reset, .aside__conteinerFilters-system-reset {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  color: #b1d9fb;
}

.aside__conteinerFilters-price-input-min {
  width: 80px;
  border-radius: 5px;
}

.aside__conteinerFilters-price-input-min {
  margin-bottom: 27px;
}

.ui-slider-horizontal {
  height: 3px;
  width: 260px;
}

.aside__conteinerFilters-price-div {
  margin-bottom: 27px;
}

/* end block with brends and price */
/* block with color */
.aside__conteinerFilters-color {
  padding-top: 0px;
}

.aside__conteinerFilters-color-container {
  width: 250px;
  margin: 0;
  border-bottom: none;
}

.aside__conteinerFilters-color-nameBlock {
  margin-bottom: 9px;
  border-bottom: none;
}

.aside__conteinerFilters-color-container-items {
  width: 38px;
  height: 39px;
  margin: 0px 17px 15px 0;
  display: inline-block;
  border: 1px solid #DEE1E4;
  cursor: pointer;
}
.aside__conteinerFilters-color-container-items:hover {
  box-shadow: 0 0 10px #FF6600;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.steelblue {
  background-color: steelblue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.brown {
  background-color: brown;
}

/* end block with color */
/* block with system */
.aside__conteinerFilters-system-name {
  margin: 0px;
}

.aside__conteinerFilters-system-input:last-child {
  margin-bottom: 10px;
}

.aside__conteinerFilters-system-reset {
  margin-bottom: 20px;
}

/* @import "socials/*.png"; */
