/* sass --watch app/scss/main.scss:app/css/style.css */
/*   @import "compass";   */
.header:before, .main:before, .container__up:before, .section__sort:before, .footer__container:before, .header:after, .main:after, .container__up:after, .section__sort:after, .footer__container:after {
  content: "";
  display: table;
}
.header:after, .main:after, .container__up:after, .section__sort:after, .footer__container:after {
  clear: both;
}

.header:before, .main:before, .container__up:before, .section__sort:before, .footer__container:before, .header:after, .main:after, .container__up:after, .section__sort:after, .footer__container:after {
  content: "";
  display: table;
}
.header:after, .main:after, .container__up:after, .section__sort:after, .footer__container:after {
  clear: both;
}

/* ------------- sections---------- */
/* ---------adjastment---------- */
body, html {
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'fira_sansregular';
}

form {
  outline: none;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.main {
  width: 1100px;
  margin: 0px auto;
}

.aside {
  display: table-cell;
  width: 340px;
}

.section {
  display: table-cell;
  width: 760px;
  padding-left: 25px;
  vertical-align: top;
}

.empty {
  height: 30px;
  padding-bottom: 220px;
}

.footer {
  min-width: 1100px;
  margin-top: -220px;
  height: 220px;
  position: relative;
}

/* ---------end adjastment---------- */
/* ----------css header ------------- */
.header {
  width: 100%;
  min-width: 1100px;
  background-color: #fff;
  /* position:relative; */
}

.header__container {
  width: 1100px;
  margin: auto;
}

.container__up {
  background: #fff;
  width: 100%;
  box-shadow: 0px 2px 0px 0px #EBEDEF;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans Regular";
  margin-bottom: 0;
}

.container__up-links {
  float: left;
  margin-bottom: 0;
  padding: 22px 0 0px 0;
}

.container__up-links-list {
  padding-left: 0px;
}

.container__up-links-list-social-item {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding-left: 5px;
}
.container__up-links-list-social-item:first-child {
  padding: 0;
}

.social-item-vk {
  background-image: url(../img/sprite_socials.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.social-item-vk:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-item-fb {
  background-image: url(../img/sprite_socials.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.social-item-fb:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-item-tw {
  background-image: url(../img/sprite_socials.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.social-item-tw:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container__up-links-list-social {
  display: block;
  text-indent: -9999px;
}

.container__up-contacts {
  float: right;
  padding: 45px 0px 0 0;
}

.container__up-contacts-telephone {
  margin-left: 108px;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  color: #000000;
}
.container__up-contacts-telephone:after {
  background-image: url(../img/sprite.png);
  background-position: -52px -16px;
  width: 12px;
  height: 16px;
  content: "";
  position: absolute;
  top: 1px;
  left: -18px;
}

.container__up-contacts-address {
  font-size: 16px;
  position: relative;
}
.container__up-contacts-address:after {
  background-image: url(../img/sprite.png);
  background-position: -52px 0px;
  width: 12px;
  height: 16px;
  content: "";
  position: absolute;
  top: 1px;
  left: -18px;
}

.container__down {
  width: 100%;
  margin-bottom: 27px;
  padding: 30px 0 0px 0px;
  margin-bottom: 0px;
  background-color: #f4f4f4;
  min-height: 67px;
}

.container__down-middle {
  margin: auto;
  width: 1100px;
}

.logo {
  display: inline-block;
  overflow: hidden;
  width: 237px;
  height: 35px;
}

.logo__link {
  text-decoration: none;
}

.logo__link-text {
  display: none;
}

.container__down-middle-position {
  display: inline-block;
  float: right;
  width: 805px;
}

.container__down-container {
  display: inline-block;
  float: right;
  width: 805px;
}

.search {
  float: left;
}

.search__form-text {
  width: 268px;
  height: 28px;
  padding-left: 18px;
  font-size: 14px;
}

.search__form-button {
  width: 80px;
  height: 34px;
  margin-left: -5px;
  color: #fff;
  background-color: #ff6600;
  border: 1px solid #ff6600;
}

.siteMap__list {
  float: right;
  margin: 0;
  padding-top: 8px;
  padding-left: 0px;
}

.siteMap__list-links-item {
  display: inline-block;
  display: inline-block;
  font-size: 18px;
  margin-left: 25px;
}
.siteMap__list-links-item:first-child {
  margin-left: 0px;
}

.siteMap__list-links {
  color: #000000;
}
.siteMap__list-links:hover {
  color: #ff6600;
}

/* ----------end  css header ------------- */
/* ----------css nav ------------- */
.nav {
  width: 100%;
  background: #fff;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 0px;
}

.nav__container {
  width: 1100px;
  margin: auto;
}

.nav__list {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav__list-links-item {
  display: inline-block;
  margin: 0 0 0 -5px;
}
.nav__list-links-item:first-child {
  margin-left: 0px;
}

.nav__list-links {
  font-size: 16px;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  padding: 16px 17px 16px 18px;
}
.nav__list-links:hover {
  background-color: #e4e2e2;
  padding: 16px 17px 16px 18px;
}

.active {
  background-color: #ff6600;
  color: #ffffff;
}
.active:hover {
  background-color: #ff6600;
  padding: 16px 17px 16px 18px;
}

.breadcrumbs {
  padding: 0 0px 0 0px;
  margin-bottom: 22px;
}

.breadcrumbs__list {
  padding: 0px;
}

.breadcrumbs__list-links-items {
  display: inline-block;
}
.breadcrumbs__list-links-items:first-child {
  margin-left: 0px;
}
.breadcrumbs__list-links-items:last-child:before {
  content: ' > ';
}

.breadcrumbs__list-links {
  text-decoration: none;
  color: #000;
}
.breadcrumbs__list-links:hover {
  text-decoration: underline;
}

.breadcrumbs__list-links-last {
  color: #ff6600;
  text-decoration: underline;
}

/* ----------end  css nav ------------- */
.aside__filterPrice {
  border: 1px solid #DEE1E4;
  border-radius: 10px;
  background: #FBFBFB;
  margin-bottom: 38px;
  overflow: hidden;
}

.aside__filterPhone-list, .aside__conteinerFilters {
  list-style: none;
  padding: 0px;
  margin: 0;
  border: 1ps solid #dee1e4;
  border-radius: 5px;
}

.aside__filterPhone-list-items:first-child {
  border-bottom: 1px solid #DEE1E4;
}

.aside__filterPhone-list-items-links {
  text-decoration: none;
  display: block;
  padding: 13px 20px 16px 30px;
  font-size: 14px;
  color: #878787;
  border-radius: 5px 5px 0 0;
}

.aside__filterPhone-list-items-links-active {
  background-color: #d9e5ea;
  border-radius: 0 0 5px 5px;
}

.aside__conteinerFilters {
  background-color: #fbfbfb;
  overflow: hidden;
  width: 289px;
}

/* block with having */
.aside__conteinerFilters-having, .aside__conteinerFilters-brends, .aside__conteinerFilters-price, .aside__conteinerFilters-color, .aside__conteinerFilters-system {
  padding: 15px 0 0px 28px;
  border-bottom: 1px solid #dee1e4;
}

.aside__conteinerFilters-having-name, .aside__conteinerFilters-brends-name, .aside__conteinerFilters-price-name, .aside__conteinerFilters-color-name, .aside__conteinerFilters-system-name {
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Open Sans Semibold";
  font-size: 17px;
  width: 100%;
  position: relative;
}

.aside__conteinerFilters-having-name-link, .aside__conteinerFilters-having-name-link-down {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 260px;
  height: 100%;
}
.aside__conteinerFilters-having-name-link:after, .aside__conteinerFilters-having-name-link .aside__conteinerFilters-having-name-link-down:after, .aside__conteinerFilters-having-name-link-down:after, .aside__conteinerFilters-having-name-link-down .aside__conteinerFilters-having-name-link-down:after {
  content: '';
  position: absolute;
  background-image: url(../img/sprite_sidebar.png);
  background-position: 50px 20px;
  width: 18px;
  height: 11px;
  top: 1px;
  right: 15px;
}

.aside__conteinerFilters-having-name-link-down:after {
  background-position: -19px 0px;
}

.aside__conteinerFilters-having-input, .aside__conteinerFilters-brends-input, .aside__conteinerFilters-color-container, .aside__conteinerFilters-system-input {
  margin-left: 5px;
  margin-right: 7px;
  margin-bottom: 24px;
}

/* end block with having */
/* block with brends and price */
.aside__conteinerFilters-brends-name {
  margin-bottom: 15px;
}

.aside__conteinerFilters-brends-reset, .aside__conteinerFilters-system-reset {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  color: #b1d9fb;
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
}

.aside__conteinerFilters-price-name-container {
  display: block;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 19px 34px;
  background-color: #ff6600;
}

.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: grey;
  color: #222222;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  font-weight: normal;
  background-image: url(../img/sprite.png);
  background-position: -51px -32px;
  width: 9px;
  height: 15px;
  color: #555555;
  top: 3px;
  background-color: white;
  outline: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background-image: url(../img/sprite.png);
  font-weight: normal;
  color: #555555;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -6px;
}

.accordion-section__text-box {
  margin-bottom: 25px;
}

.accordion-section__text {
  display: inline;
  vertical-align: top;
  margin-left: 7px;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-section__input_text {
  width: 50px;
  border: 1px solid #DEE1E4;
  border-radius: 5px;
}

.accordion-section__input_text_max {
  margin-left: 10px;
}

.aside__conteinerFilters-price-input-min {
  width: 80px;
  border-radius: 5px;
}

.aside__conteinerFilters-price-input-min {
  margin-bottom: 27px;
}

.ui-slider-horizontal {
  height: 3px;
  width: 230px;
}

.aside__conteinerFilters-price-div {
  margin-bottom: 27px;
}

/* end block with brends and price */
/* block with color */
.aside__conteinerFilters-color {
  padding: 15px 0 0px 28px;
}

.aside__conteinerFilters-color-container {
  width: 250px;
  margin: 0;
  border-bottom: none;
  display: none;
}

.aside__conteinerFilters-color-name {
  margin-bottom: 15px;
  border-bottom: none;
}

.aside__conteinerFilters-color-container-items {
  width: 38px;
  height: 39px;
  margin: 0px 17px 15px 0;
  display: inline-block;
  border: 1px solid #DEE1E4;
  cursor: pointer;
}
.aside__conteinerFilters-color-container-items:hover {
  box-shadow: 0 0 10px #FF6600;
}

.activeColorSidebar {
  box-shadow: 0 0 10px #FF6600;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.steelblue {
  background-color: steelblue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.brown {
  background-color: brown;
}

/* end block with color */
/* block with system */
.aside__conteinerFilters-system-name {
  margin: 0px;
}

.aside__conteinerFilters-system-input:last-child {
  margin-bottom: 10px;
}

.aside__conteinerFilters-system-reset {
  margin-bottom: 20px;
}

/* having in store */
.aside__conteinerFilters-having-label {
  position: relative;
  display: block;
  font-family: "Open Sans Regular";
  margin: 2px 0 15px 25px;
}
.aside__conteinerFilters-having-label:hover:before {
  content: '';
  width: 9px;
  height: 9px;
  background-image: url(../img/sprite_sidebar.png);
  background-position: 0px -30px;
  position: absolute;
  left: -22px;
  top: 5px;
}

.aside__conteinerFilters-having-label-style {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  border: 3px solid #DEE1E4;
  position: absolute;
  left: -27px;
  top: 0px;
}

.checkboxStyle {
  display: none;
}
.checkboxStyle:checked + .aside__conteinerFilters-having-label-style {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  border: 3px solid #ff6600;
  position: absolute;
  left: -27px;
  top: 0px;
}
.checkboxStyle:checked + .aside__conteinerFilters-having-label-style:before {
  content: '';
  width: 9px;
  height: 9px;
  background-image: url(../img/sprite_sidebar.png);
  background-position: 0px -30px;
  position: absolute;
  left: 2px;
  top: 2px;
}

/* brends */
.aside__conteinerFilters-brends-label {
  position: relative;
  display: block;
  font-family: "Open Sans Regular";
  margin: 2px 0 15px 25px;
}
.aside__conteinerFilters-brends-label:hover:before {
  content: '';
  background-image: url(../img/sprite_sidebar.png);
  background-position: -37px 0px;
  width: 13px;
  height: 10px;
  position: absolute;
  left: -24px;
  top: 5px;
}

.aside__conteinerFilters-brends-label-style {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 5px;
  border: 3px solid #DEE1E4;
  position: absolute;
  left: -27px;
  top: 0px;
}

.aside__conteinerFilters-brends-input {
  display: none;
}
.aside__conteinerFilters-brends-input:checked + .aside__conteinerFilters-brends-label-style {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 5px;
  border: 3px solid #ff6600;
  background-color: #ff6600;
  position: absolute;
  left: -27px;
  top: 0px;
}
.aside__conteinerFilters-brends-input:checked + .aside__conteinerFilters-brends-label-style:before {
  content: '';
  width: 13px;
  height: 10px;
  background-image: url(../img/sprite_sidebar.png);
  background-position: -18px -19px;
  position: absolute;
  left: 0px;
  top: 2px;
}

/* system */
.aside__conteinerFilters-system-label {
  position: relative;
  display: block;
  font-family: "Open Sans Regular";
  margin: 2px 0 15px 25px;
}
.aside__conteinerFilters-system-label:hover:before {
  content: '';
  background-image: url(../img/sprite_sidebar.png);
  background-position: -37px 0px;
  width: 13px;
  height: 10px;
  position: absolute;
  left: -24px;
  top: 5px;
}

.aside__conteinerFilters-system-label-style {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 5px;
  border: 3px solid #DEE1E4;
  position: absolute;
  left: -27px;
  top: 0px;
}

.aside__conteinerFilters-system-input {
  display: none;
}
.aside__conteinerFilters-system-input:checked + .aside__conteinerFilters-system-label-style {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 5px;
  border: 3px solid #ff6600;
  background-color: #ff6600;
  position: absolute;
  left: -27px;
  top: 0px;
}
.aside__conteinerFilters-system-input:checked + .aside__conteinerFilters-system-label-style:before {
  content: '';
  width: 13px;
  height: 10px;
  background-image: url(../img/sprite_sidebar.png);
  background-position: -18px -19px;
  position: absolute;
  left: 0px;
  top: 2px;
}

/* for js */
.accordeonContainer {
  display: none;
}

.namePages {
  font-family: "Open Sans Bold";
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 0;
}

.section__sort {
  width: 695px;
  background-color: #e4ebee;
  padding: 11px 0 13px 46px;
  margin: 0 45px 0 0px;
  border-radius: 5px;
}

.section__sort-byPrice {
  float: left;
  margin-left: -26px;
}

.catalog-sorting-form__label {
  font-size: 14px;
}

.section__sort-byPrice-text {
  padding: 2px 0 5px 0px;
  margin-left: 10px;
  position: relative;
  width: 141px;
  line-height: 25px;
  font-family: "Open Sans Light";
  color: #7F7F7F;
  padding-left: 10px;
  background: #fff;
  border: 1px solid #DEE1E4;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
}

.section__sort-byCatalogs {
  float: right;
  padding: 4px 16px 0 0;
  font-size: 14px;
}

.section__sort-byCatalogs-linkView {
  margin-left: 34px;
  display: inline-block;
  text-indent: -9999;
  vertical-align: middle;
  width: 17px;
  height: 17px;
}

.section__sort-byCatalogs-linkView1 {
  background-image: url(../img/sprite.png);
  background-position: -35px 0px;
  width: 17px;
  height: 17px;
}
.section__sort-byCatalogs-linkView1:hover {
  width: 17px;
  height: 17px;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
}

.section__sort-byCatalogs-linkView2 {
  background-image: url(../img/sprite.png);
  background-position: -17px -18px;
  width: 17px;
  height: 17px;
}
.section__sort-byCatalogs-linkView2:hover {
  width: 17px;
  height: 17px;
  background-image: url(../img/sprite.png);
  background-position: -18px 0px;
}

.section__sort-byCatalogs-linkView3 {
  background-image: url(../img/sprite.png);
  background-position: -35px -16px;
  width: 17px;
  height: 17px;
}
.section__sort-byCatalogs-linkView3:hover {
  width: 17px;
  height: 17px;
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
}

.section__sort-byCatalogs-linkView-active1 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 17px;
  height: 17px;
}

.section__sort-byCatalogs-linkView-active2 {
  background-image: url(../img/sprite.png);
  background-position: 110px 0px;
  width: 17px;
  height: 17px;
}

.section__sort-byCatalogs-linkView-active3 {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 17px;
  height: 17px;
}

.products {
  display: none;
  width: 760px;
  margin-bottom: 30px;
}

.unstyled-list {
  list-style-type: none;
  padding-left: 0px;
}

.product {
  width: 232px;
  margin: 0 15px 15px 0;
  height: 513px;
  vertical-align: top;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #DEE1E4;
  background: #FBFBFB;
}
.product:hover {
  z-index: 2;
  box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  position: relative;
}

.product__slideshow {
  width: 135px;
  margin-left: 50px;
  margin-bottom: 6px;
}

.product__img-box {
  border: 1px solid #DEE1E4;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
}

.product__img {
  width: 100%;
  height: auto;
}

.product__img-box_big {
  width: 135px;
  height: 135px;
  margin: 20px 0 15px 0;
}

.product__img-line {
  width: 155px;
}

.product__img-box_mini {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 14px;
}

.product__code-label {
  font-size: 12px;
  color: #7F7F7F;
}

.products_block .product__attr:nth-child(2n+1) {
  background: #E0E0E0;
}

.products_block .product__attr {
  line-height: 20px;
  padding: 0 2px 0 2px;
}

.product__value {
  float: right;
}

.product__rating {
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 30px;
}

.product__star {
  display: inline-block;
  margin-left: 1px;
  background-image: url(../img/sprite.png);
  background-position: -16px -36px;
  width: 15px;
  height: 15px;
}

.product__star_red {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 16px;
  height: 15px;
}

.rating {
  font-style: normal;
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  line-height: 15px;
  /* font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
  width: 30px;
  height: 15px;
  border-radius: 30px;
  background-color: #E0E0E0;
  vertical-align: middle;
  /* 	font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
}

.product__price {
  /* 	font-family: $fontSemibold; */
  font-size: 18px;
  text-align: center;
  padding-bottom: 9px;
}

.product__price-label {
  /* font-family: Rouble */
}

.product__availability {
  /* font-family: $fontBold; */
  font-size: 12px;
  color: #7F7F7F;
  float: left;
  line-height: 3;
}

.product__availability:before {
  content: ' ';
  display: inline-block;
  margin: 0 10px 0 8px;
  background-color: green;
  border-radius: 50%;
  background-position: -52px -32px;
  width: 8px;
  height: 8px;
}

.product__button {
  font-size: 14px;
  padding: 7px 16px 6px 12px;
  float: right;
}

.button {
  border: 1px solid #FF6E35;
  border-radius: 5px;
  background: #FF6E35;
  color: #fff;
  font-size: 16px;
}

.products_block
.product {
  width: 232px;
  margin: 0 15px 15px 0;
  height: 550px;
  vertical-align: top;
  border-radius: 10px;
}

.product__code-label, .product__code, .product__description-text, .product__title-type {
  display: none;
}

.product__title {
  text-align: center;
  width: 200px;
  margin: 0px auto 9px;
  height: 42px;
  overflow: hidden;
}

.product__box {
  width: 210px;
  margin: auto;
}

.product__description {
  height: 140px;
  overflow: hidden;
  margin-bottom: 9px;
}

.products_view1 {
  display: none;
  width: 760px;
  margin-bottom: 30px;
}

.unstyled-list_view1 {
  list-style-type: none;
  padding-left: 0px;
}

.product_view1 {
  width: 740px;
  margin: 0 15px 15px 0;
  height: 245px;
  vertical-align: top;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #DEE1E4;
  background: #FBFBFB;
}
.product_view1:hover {
  z-index: 2;
  box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  position: relative;
}

.product__box_view1 {
  float: left;
}

.product__slideshow_view1 {
  width: 135px;
  margin: 0px;
  margin-bottom: 6px;
}

.product__img-box_view1 {
  border: 1px solid #DEE1E4;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
}

.product__img_view1 {
  width: 100%;
  height: auto;
}

.product__img-box_big_view1 {
  width: 135px;
  height: 135px;
  margin: 20px 0 15px 0;
}

.product__img-line_view1 {
  width: 155px;
}

.product__img-box_mini_view1 {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 14px;
}

.product__code-label_view1 {
  font-family: bold;
  font-size: 12px;
  color: #7F7F7F;
  display: inline;
}

.product__title_view1 {
  /* 	font-family: $fontSemibold; */
}

.products_block .product__attr:nth-child(2n+1) {
  background: #E0E0E0;
}

.products_block .product__attr {
  line-height: 20px;
  padding: 0 2px 0 2px;
}

.product__value_view1 {
  float: right;
}

.product__rating_view1 {
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 0px;
}

.product__star_view1 {
  display: inline-block;
  margin-left: 1px;
  background-image: url(../img/sprite.png);
  background-position: -16px -36px;
  width: 15px;
  height: 15px;
}

.product__star_red_view1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 16px;
  height: 15px;
}

.rating_view1 {
  font-style: normal;
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  line-height: 15px;
  /* font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
  width: 30px;
  height: 15px;
  border-radius: 30px;
  background-color: #E0E0E0;
  vertical-align: middle;
  /* 	font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
}

.product__price_view1 {
  /* 	font-family: $fontSemibold; */
  font-size: 18px;
  text-align: center;
  padding: 17px 27px 0 0;
  margin-bottom: 125px;
}

.product__price-label_view1 {
  /* font-family: Rouble */
}

.product__availability_view1 {
  /* font-family: $fontBold; */
  font-size: 12px;
  color: #7F7F7F;
  float: left;
  line-height: 4;
  margin-left: 50px;
}

.product__availability_view1:before {
  content: ' ';
  display: inline-block;
  margin: 0 10px 0 8px;
  background-color: green;
  border-radius: 50%;
  background-position: -52px -32px;
  width: 8px;
  height: 8px;
}

.product__button_view1 {
  font-size: 14px;
  padding: 7px 16px 6px 12px;
  float: right;
  float: left;
  margin-left: 30px;
}

.button_view1 {
  border: 1px solid #FF6E35;
  border-radius: 5px;
  background: #FF6E35;
  color: #fff;
  font-size: 16px;
}

.products_block_view1
.product_view1 {
  width: 232px;
  margin: 0 15px 15px 0;
  height: 513px;
  vertical-align: top;
  border-radius: 10px;
}

.product__code-label_view1, .product__code_view1, .product__description-text_view1, .product__title_type_view1 {
  display: block;
}

.product__title_view1 {
  text-align: left;
  width: 400px;
  margin: 20px 0 12px 0;
  height: 42px;
  overflow: hidden;
}

.product__box_view1 {
  width: 200px;
  margin: 2px -50px 0 25px;
}

.product__description_view1 {
  height: 140px;
  overflow: hidden;
  margin-bottom: 9px;
  display: none;
}

.product__description-text_view1 {
  width: 400px;
  margin-bottom: 25px;
}

.product__box_buy_view1 {
  float: right;
}

.product__code-label_view1 {
  display: inline;
  margin-left: 11px;
}

.products_view2 {
  display: block;
  width: 760px;
  margin-bottom: 30px;
}

.unstyled-list_view2 {
  list-style-type: none;
  padding-left: 0px;
}

.product_view2 {
  width: 740px;
  margin: 0 15px 0px 0;
  vertical-align: top;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #DEE1E4;
  background: #FBFBFB;
}
.product_view2:hover {
  z-index: 2;
  box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  position: relative;
}

.product__box_view2 {
  float: left;
}

.product__slideshow_view2 {
  width: 135px;
  margin: 0px;
  margin-bottom: 6px;
}

.product__img-box_view2 {
  border: 1px solid #DEE1E4;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
}

.product__img_view2 {
  width: 100%;
  height: auto;
}

.product__img-box_big_view2 {
  width: 135px;
  height: 135px;
  margin: 20px 0 15px 0;
}

.product__img-line_view2 {
  width: 155px;
}

.product__img-box_mini_view2 {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 14px;
}

.product__code-label_view2 {
  font-family: bold;
  font-size: 12px;
  color: #7F7F7F;
  display: inline;
}

.product__title_view2 {
  /* 	font-family: $fontSemibold; */
}

.products_block .product__attr:nth-child(2n+1) {
  background: #E0E0E0;
}

.products_block .product__attr {
  line-height: 20px;
  padding: 0 2px 0 2px;
}

.product__value_view2 {
  float: right;
}

.product__rating_view2 {
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 0px;
}

.product__star_view2 {
  display: inline-block;
  margin-left: 1px;
  background-image: url(../img/sprite.png);
  background-position: -16px -36px;
  width: 15px;
  height: 15px;
}

.product__star_red_view2 {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 16px;
  height: 15px;
}

.rating_view2 {
  font-style: normal;
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  line-height: 15px;
  /* font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
  width: 30px;
  height: 15px;
  border-radius: 30px;
  background-color: #E0E0E0;
  vertical-align: middle;
  /* 	font-family: $fontSemibold; */
  font-size: 12px;
  text-align: center;
}

.product__price_view2 {
  /* 	font-family: $fontSemibold; */
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  float: left;
}

.product__price-label_view2 {
  /* font-family: Rouble */
}

.product__availability_view2 {
  /* font-family: $fontBold; */
  font-size: 12px;
  color: #7F7F7F;
  float: left;
  line-height: 2.5;
  margin-left: 0px;
  margin-right: 7px;
}

.product__availability_view2:before {
  content: ' ';
  display: inline-block;
  margin: 0 10px 0 8px;
  background-color: green;
  border-radius: 50%;
  background-position: -52px -32px;
  width: 8px;
  height: 8px;
}

.product__button_view2 {
  font-size: 14px;
  padding: 5px 16px 5px 12px;
  float: right;
  float: left;
  margin-left: 30px;
}

.button_view2 {
  border: 1px solid #FF6E35;
  border-radius: 5px;
  background: #FF6E35;
  color: #fff;
  font-size: 16px;
  margin: 0px 10px 0px 0;
}

.products_block_view2
.product_view2 {
  width: 232px;
  margin: 0;
  height: 513px;
  vertical-align: top;
  border-radius: 10px;
  margin-bottom: 1px;
}

.product__code-label_view2, .product__code_view2, .product__description-text_view2, .product__title_type_view2 {
  display: block;
}

.product__title_view2 {
  text-align: left;
  width: 333px;
  margin: 0 0 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product__box_view2 {
  margin: 5px 0 5px 0;
}

.product__description_view2 {
  height: 140px;
  overflow: hidden;
  margin-bottom: 9px;
  display: none;
}

.product__description-text_view2 {
  width: 400px;
  margin-bottom: 25px;
}

.product__box_buy_view2 {
  float: right;
}

.product__code-label_view2 {
  display: inline;
  margin-left: 11px;
  margin-right: 5px;
}

.section__contents-breadcrums-list {
  list-style: none;
  float: right;
  padding-right: 17px;
}

.section__contents-breadcrums-item {
  background-color: #fbfbfb;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #DEE1E4;
}
.section__contents-breadcrums-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section__contents-breadcrums-item-links {
  text-decoration: none;
  display: block;
  padding: 7px 7px 3px 11px;
}

.section__contents-breadcrums-item-num-active {
  background-color: #DEE1E4;
}

.section__information {
  width: 1100px;
  margin: 0 auto;
}

.section__information-left {
  width: 533px;
  float: left;
}

.section__information-right {
  float: right;
  width: 533px;
}

.section__information-left-text-indent {
  padding-left: 10px;
}

.section__information-left-text {
  line-height: 1.5;
}

.section__information-right-text {
  line-height: 1.5;
}

.footer {
  background-color: #000;
}

.footer__container {
  width: 1100px;
  margin: auto;
}

.footer__logo {
  float: left;
  display: inline-block;
  margin-top: 70px;
}

.footer__logo-link-text {
  display: none;
}

.footer__navigation {
  float: right;
  width: 590px;
}

.footer__navigation-links-list {
  float: right;
  margin-top: 40px;
}

.footer__navigation-links-list-social-item {
  display: inline-block;
  margin-right: 25px;
}

.footer__navigation-links-list-social {
  display: block;
  text-indent: -9999px;
}

.footer__navigation-links-list-social-vk {
  background-image: url(../img/sprite_socials.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.footer__navigation-links-list-social-vk:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer__navigation-links-list-social-fb {
  background-image: url(../img/sprite_socials.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.footer__navigation-links-list-social-fb:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer__navigation-links-list-social-tw {
  background-image: url(../img/sprite_socials.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.footer__navigation-links-list-social-tw:hover {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer__navigation-listOdersUp {
  text-align: right;
  float: right;
  margin-top: 20px;
}

.footer__navigation-links-item {
  display: inline-block;
  margin-right: 8px;
  line-height: 2;
}

.footer__navigation-links-item {
  color: #ffffff;
  text-decoration: underline;
}

.footer__copyright {
  width: 100%;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
  border-top: 1px solid #494949;
}

/* @import "socials/*.png"; */
