/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-for_price {
  background-image: url(sprite.png);
  background-position: -52px -32px;
  width: 8px;
  height: 14px;
}
.icon-map {
  background-image: url(sprite.png);
  background-position: -52px 0px;
  width: 12px;
  height: 16px;
}
.icon-orange_star {
  background-image: url(sprite.png);
  background-position: 0px -36px;
  width: 16px;
  height: 15px;
}
.icon-star {
  background-image: url(sprite.png);
  background-position: -16px -36px;
  width: 15px;
  height: 15px;
}
.icon-telephone {
  background-image: url(sprite.png);
  background-position: -52px -16px;
  width: 12px;
  height: 16px;
}
.icon-view list 2 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 18px;
  height: 18px;
}
.icon-view list {
  background-image: url(sprite.png);
  background-position: -36px -16px;
  width: 16px;
  height: 16px;
}
.icon-view list_hover {
  background-image: url(sprite.png);
  background-position: 0px -18px;
  width: 18px;
  height: 18px;
}
.icon-view thumbnail {
  background-image: url(sprite.png);
  background-position: -18px -18px;
  width: 16px;
  height: 16px;
}
.icon-view thumbnail_hover {
  background-image: url(sprite.png);
  background-position: -18px 0px;
  width: 18px;
  height: 18px;
}
.icon-viewList2_hover {
  background-image: url(sprite.png);
  background-position: -36px 0px;
  width: 16px;
  height: 16px;
}
