   /* ----------css header ------------- */

.header{
	width: 100%;
    min-width: 1100px;
	background-color:#fff;
	/* position:relative; */
}
.header__container{
	width: 1100px;
	margin: auto;
}
.container__up{
	background: #fff;
    width: 100%;
    box-shadow: 0px 2px 0px 0px #EBEDEF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Open Sans Regular";
    margin-bottom: 0;
    @extend %clearfix;
}

.container__up-links{
	 float: left;
    margin-bottom: 0;
    padding: 22px 0 0px 0;
}
.container__up-links-list{
	padding-left:0px;
}
.container__up-links-list-social-item{
	list-style: none;
	display: inline-block;
	margin:0px;
	padding-left: 5px;
		&:first-child{
			padding:0;
		}

}
@include social (vk, 0px -32px );
@include social (fb, 0px 0px);
@include social (tw, -32px 0px);

.container__up-links-list-social{
	display: block;
	text-indent: -9999px;
}

.container__up-contacts{
	float: right;
	padding: 45px 0px 0 0;

}

.container__up-contacts-telephone{
	margin-left: 108px;
	font-size: 18px;
	position: relative;
	text-decoration: none;
	color: #000000;
	&:after{
			background-image: url(../img/sprite.png);
			background-position: -52px -16px;
			width: 12px;
			height: 16px;
			content: "";
			position: absolute;
			top: 1px;
			left: -18px;
		}
}

.container__up-contacts-address{
		font-size: 16px;
		position: relative;
		&:after{
			background-image: url(../img/sprite.png);
			background-position: -52px 0px;
			width: 12px;
			height: 16px;
			content: "";
			position: absolute;
			top: 1px;
			left: -18px;
		}
	}


.container__down{
	width: 100%;
    margin-bottom: 27px;
    padding: 30px 0 0px 0px;
    margin-bottom: 0px;
    background-color: #f4f4f4;
    min-height: 67px;
}
.container__down-middle{
	margin: auto;
	width: 1100px;
}

.logo{
	display: inline-block;
    overflow: hidden;
    width: 237px;
    height: 35px;
}
.logo__link{
	text-decoration: none;
}
.logo__link-img{

}
.logo__link-text{
	display: none;
}
.container__down-middle-position{
    display: inline-block;
    float: right;
    width: 805px;
}

.container__down-container{
display: inline-block;
    float: right;
    width: 805px;
}
.search{
	float:left;
	
}
.search__form-text{
	width: 268px;
	height: 28px;
	padding-left: 18px;
	font-size: 14px;
}
.search__form-button{
	width: 80px;
	height: 34px;
	margin-left: -5px;
	color: #fff;
	background-color: $logoColor;
	border: 1px solid $logoColor;
}

.siteMap__list{
	float: right;
	margin:0;
	padding-top: 8px;
	padding-left:0px;
}
.siteMap__list-links-item{
	display: inline-block;
	 display: inline-block;
	font-size: 18px;
    margin-left: 25px;
	&:first-child{
		margin-left: 0px; 
	}
}
.siteMap__list-links{
	color: #000000;
	&:hover{
		color: $logoColor;

	}
}







   /* ----------end  css header ------------- */