.section__information{
	width: 1100px;
	margin: 0 auto;
}
.section__information-left{
	width: 533px;
	float: left;
}
.section__information-right{
	float: right;
	width: 533px;
}
.section__information-left-text-indent{
	padding-left: 10px;
}
.section__information-left-text{
	line-height: 1.5;
}
.section__information-right-text{
	line-height: 1.5;
}