.products{
	display:none;
    width: 760px;
    margin-bottom: 30px;
}



.unstyled-list{
 	list-style-type: none;
    padding-left: 0px;
}
.product{
    width: 232px;
    margin: 0 15px 15px 0;
    height: 513px;
    vertical-align: top;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid $borderColor;
	background: #FBFBFB;
		&:hover{
			z-index: 2;
			box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
			position: relative;
		}
}
.product__slideshow{
	width: 135px;
	margin-left: 50px ;
	margin-bottom: 6px;
}
.product__img-box{
	border: 1px solid $borderColor;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
}
.product__img{
	width: 100%;
	height: auto;
}
.product__img-box_big{
	width: 135px;
	height: 135px;
	margin: 20px 0 15px 0;
}
.product__img-line{
	width: 155px;
}
.product__img-box_mini{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 14px;
}
.product__code-label{
	font-size: 12px;
	color: #7F7F7F;
}
.products_block .product__attr:nth-child(2n+1) {
    background: #E0E0E0;
}
.products_block .product__attr {
    line-height: 20px;
    padding: 0 2px 0 2px;
}
.product__value{
	float: right;
}

.product__rating{
	margin-bottom: 5px;
	display: inline-block;
	margin-left: 30px;
}
.product__star{
	display: inline-block;
	margin-left: 1px;
	  background-image: url(../img/sprite.png);
	  background-position: -16px -36px;
	  width: 15px;
	  height: 15px;
}
.product__star_red{
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 16px;
  height: 15px;
}
.rating{
 font-style: normal;
    display: inline-block;
    margin-left: 15px;
    color: #fff;
    line-height: 15px;
    /* font-family: $fontSemibold; */
    font-size: 12px;
    text-align: center;
    width: 30px;
    height: 15px;
    border-radius: 30px;
    background-color: #E0E0E0;
    vertical-align: middle;
/* 	font-family: $fontSemibold; */
	font-size: 12px;
	text-align: center;
}
.product__price{
/* 	font-family: $fontSemibold; */
	font-size: 18px;
	text-align: center;
	padding-bottom: 9px;
}
.product__price-label{
	/* font-family: Rouble */
}
.product__availability{
	/* font-family: $fontBold; */
	font-size: 12px;
	color: #7F7F7F;
	float: left;
	line-height: 3;
}
.product__availability:before{
	content: ' ';
	display: inline-block;
	margin: 0 10px 0 8px;
		background-color: green;
		border-radius: 50%;
  		background-position: -52px -32px;
  		width: 8px;
  		height: 8px;
}
.product__button {
	font-size: 14px;
    padding: 7px 16px 6px 12px;
    float: right;
}
.button{
	border: 1px solid #FF6E35;
    border-radius: 5px;
    background: #FF6E35;
    color: #fff;
    font-size: 16px;
}

.products_block
	.product{
			width: 232px;
			margin: 0 15px 15px 0;
			height: 550px;
			vertical-align: top;
			border-radius: 10px;
		}
	.product__code-label, .product__code, .product__description-text, .product__title-type{
			display: none;
		}
	.product__title{
			text-align: center;
			width: 200px;
			margin: 0px auto 9px;
			height: 42px;
			overflow: hidden;
		}
	.product__box{
			width: 210px;
			margin: auto;
		}
	.product__description{
			height: 140px;
			overflow: hidden;
			margin-bottom: 9px;
		}