.namePages{
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 0;
}
.section__sort{
	position: relative;
	width: 740px;
	background: #E4EBEE;
	border: 1px solid $borderColor;
	border-radius: 10px;
	height: 50px;
	margin-bottom: 20px;
}
.section__sort-byPrice{
	float: left;
    padding: 14px 0 0 18px;
}

.section__sort-byPrice-text{
	width: 141px;
	height: 23px;
    line-height: 25px;
    color: #7F7F7F;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #DEE1E4;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px 0px rgba(148,148,148,0.43);
}

.section__sort-byCatalogs{
	float: right;
	padding: 19px 16px 0 0;
    font-size: 14px;
}
.section__sort-byCatalogs-text{
vertical-align: top;
}

.section__sort-byCatalogs-linkView{
	margin-left: 34px;
	display: inline-block;
	text-indent: -9999;
}

@include views (1, -35px 0px, 0px 0px);
@include views (2, -17px -18px, -18px 0px);
@include views (3, 0px -18px, -35px 35px);