.aside__filterPrice{
	border: 1px solid #DEE1E4;
    border-radius: 10px;
    background: #FBFBFB;
    margin-bottom: 38px;
    overflow: hidden;
}

.aside__filterPhone-list{
	list-style: none;
	width: 330px;
	padding: 0px;
	margin-left: 81px;
	border: 1ps solid #dee1e4;
	border-radius: 5px;
}
.aside__filterPhone-list-items{
	margin:0;
	padding:0;
	background-color: #fbfbfb;
	border-radius: 5px;
	
}
.aside__filterPhone-list-items-links{
	text-decoration: none;
	display: block;
	padding: 13px 20px 16px 30px;
    font-size: 14px;
    color: #878787;
	border-radius: 5px 5px 0 0;
	
}
.aside__filterPhone-list-items-links-active{
	background-color:#d9e5ea;
	border-radius: 0 0 5px 5px;
}

/*   conteinerFilters */

.aside__conteinerFilters{
	@extend .aside__filterPhone-list;
	background-color: #fbfbfb;
}



/* block with having */
.aside__conteinerFilters-having{
	padding: 15px 0 0 28px ;
	border-bottom: 1px solid #dee1e4;
}
.aside__conteinerFilters-having-name{
	font-weight: bold;
	margin-bottom: 15px;
}
.aside__conteinerFilters-having-input{
	margin-left: 5px;
 	margin-right: 7px;
	margin-bottom: 24px;
}
/* end block with having */

/* block with brends and price */
.aside__conteinerFilters-brends{
	@extend .aside__conteinerFilters-having;
	border-bottom: none;

}
.aside__conteinerFilters-brends-name{
	@extend .aside__conteinerFilters-having-name;
	margin-bottom: -6px;
}
.aside__conteinerFilters-brends-input{
	@extend .aside__conteinerFilters-having-input
}
.aside__conteinerFilters-brends-reset{
	display: block;
	margin-bottom: 7px;
	font-size: 14px;
	color: #b1d9fb;
}

.aside__conteinerFilters-price{
	@extend .aside__conteinerFilters-having;
}
.aside__conteinerFilters-price-name{
	@extend .aside__conteinerFilters-having-name;
}
.aside__conteinerFilters-price-input-min{
	width: 80px;
	border-radius: 5px;
}
.aside__conteinerFilters-price-input-min{
	@extend .aside__conteinerFilters-price-input-min;
	    margin-bottom: 27px;
}
.ui-slider-horizontal{
	height: 3px;
	width: 260px;
}
.aside__conteinerFilters-price-div{
	    margin-bottom: 27px;
}

/* end block with brends and price */

/* block with color */
.aside__conteinerFilters-color{
	@extend .aside__conteinerFilters-having;
	padding-top: 0px;
	
}
.aside__conteinerFilters-color-container{
	@extend .aside__conteinerFilters-having-input;
	width: 250px;
	margin: 0;
	border-bottom: none;
}
.aside__conteinerFilters-color-nameBlock{
    margin-bottom: 9px;
    border-bottom: none;
}
.aside__conteinerFilters-color-container-items{
			width: 38px;
		    height: 39px;
		    margin: 0px 17px 15px 0;
		    display: inline-block;
		    border: 1px solid $borderColor;
		    cursor: pointer;
		    &:hover{
		    	box-shadow: 0 0 10px #FF6600;
		    }
		  }

	$colorClass: white, grey, black, steelblue, red, yellow, orange, green, blue, purple, pink, brown;
	@each $colorsClass in $colorClass{
		 .#{$colorsClass}{
			
		    background-color: #{$colorsClass};
		   
		  }
	};
/* end block with color */

/* block with system */


.aside__conteinerFilters-system{
	@extend .aside__conteinerFilters-having;
}
.aside__conteinerFilters-system-name{
	@extend .aside__conteinerFilters-having-name;
	margin: 0px;
}
.aside__conteinerFilters-system-input{
	@extend .aside__conteinerFilters-having-input;
	&:last-child{
		margin-bottom: 10px;
	}
}
.aside__conteinerFilters-system-reset{
    margin-bottom: 20px;
    @extend .aside__conteinerFilters-brends-reset;
}