%clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after{
		clear: both;
	}
}

@mixin social ($soc, $pos ){
	.social-item-#{$soc}{
		background-image: url(../img/sprite_socials.png);
		background-position: $pos;
		width:32px;
		height: 32px;
			&:hover{
				width:32px;
				height: 32px;
				box-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
	}
}