include jade_components/var
doctype html
html(lang="ru-Ua")
	head
		meta(charset="UTF-8")
		//meta(name="viewport" content="width=1230")
		meta(name="description" content="Store by Nikula Misha")
		meta(name="keywords" content="site_store")
		meta(name="author" content="Nikula Mikhail Andreevich")
		link(rel="stylesheet", href="../bower/jquery-ui/themes/smoothness/jquery-ui.css")
		link(rel="stylesheet", href="../bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="../css/main.css")
		link(rel="stylesheet", href="../fonts/stylesheet.css")
		title
			|Online-store
		script(type='text/javascript' src="../bower/modernizr/modernizr.js")
	body
		div.wrapper
			include jade_components/header

			include jade_components/main

			div.empty
		include jade_components/footer
		script(src="../bower/jquery/jquery.js")
		script(src="../bower/jquery-ui/jquery-ui.min.js")
		script(src="../js/main.js")
		script(src="../js/views.js")
		script(src="../js/accordeon.js")
		script(src="../js/slider.js")

