doctype html
html(lang="en")
	head
		title= store
		script(type='text/javascript').
	body
		h1
			|Test
		a(href="vk.com")
		include jade_components/header
		footer.footer
			.lox
				| это судьба! 
			.inner
				p
					|copyright
